:root {
  --primary-color: hsl(212, 100%, 50%);
  --secondary-color: hsl(0, 0%, 50%);

  --primary-click-color: hsl(212, 100%, 40%);
  --secondary-click-color: hsl(0, 0%, 40%);

  --bg-color: hsl(212, 100%, 95%);

  --text-white: hsl(0, 0%, 100%);

  --light-grey: hsl(0, 0%, 80%);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--bg-color);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary-color);
  color: var(--text-white);
  text-align: center;
  padding: 18px 0;
  z-index: 1;
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.5);
}

main {
  padding: 15px;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

/* Search Box Section */
.search-box {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-box h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}
#search-input {
  font-size: 1rem;
  padding: 8px 10px;
  border: 2px solid var(--light-grey);
  border-radius: 5px;
  margin-bottom: 16px;
}

#search-btn {
  font-size: 1rem;
  padding: 10px 0;
  background-color: var(--primary-color);
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
  margin-bottom: 16px;
}
#search-btn:active {
  background-color: var(--primary-click-color);
  transform: scale(0.9);
}

.separator {
  height: 2px;
  position: relative;
  background-color: var(--light-grey);
  margin-bottom: 16px;
}

.separator::before {
  content: "or";
  color: var(--secondary-color);
  background-color: var(--bg-color);
  position: absolute;
  padding: 0 5px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#location-btn {
  font-size: 1rem;
  padding: 10px 0;
  background-color: var(--secondary-color);
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
#location-btn:active {
  background-color: var(--secondary-click-color);
  transform: scale(0.9);
}

/* Current Weather Section */
.current-weather {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px 15px 20px 10px;
  color: var(--text-white);
}
.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
  margin-right: 10px;
}
.weather-info h2 {
  font-size: 1.1rem;
}
.weather-info h4 {
  font-size: 1rem;
  font-weight: normal;
}
.weather-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.weather-img img {
  width: 110px;
}

.weather-img h4 {
  font-size: 0.9rem;
}

.forecast-weather {
  width: 100%;
}

.forecast-weather h2 {
  font-size: 1.3rem;
  margin-bottom: 12px;
}

.forecast-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.forecast-cards .card {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--text-white);
  border-radius: 10px;
  padding: 20px 10px;
}
.forecast-cards .card h2 {
  margin: 0;
}

.forecast-cards .card img {
  width: 110px;
}

.forecast-cards .card h4 {
  padding-bottom: 8px;
}

.forecast-cards .card h4:last-child {
  padding-bottom: 0px;
}

@media only screen and (min-width: 480px) {
  main {
    padding: 24px;
  }
  .search-box {
    width: calc(40% - 12px);
  }

  .current-weather {
    width: calc(60% - 12px);
    padding: 20px;
  }

  .forecast-cards {
    gap: 15px;
  }

  .forecast-cards .card {
    width: calc(33.33% - 10px);
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  main {
    padding: 24px;
    max-width: 900px;
    margin: auto;
  }
  .search-box {
    width: calc(40% - 0.75rem);
  }

  .current-weather {
    width: calc(60% - 0.75rem);
  }

  .weather-img img {
    width: 140px;
  }
  .weather-img h4 {
    font-size: 1.1rem;
  }

  .forecast-cards {
    gap: 20px;
  }

  .forecast-cards .card {
    width: calc(25% - 15px);
  }
}
